<div *ngIf="login" class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{title}}</h1>
    <div class="flex-auto"></div>

    <span></span>
    <button class="mr-4">
      <div class="flex justify-around items-center gap-1">
        <mat-icon class="mat-18">
          contact_mail
        </mat-icon>
        <span class="text-sm capitalize">
          {{displayName()}}
        </span>
        <span class="text-sm capitalize">
          {{displayRole()}}
        </span>
        <span class="text-sm capitalize">
          {{displayDepartment()}}
        </span>
      </div>
    </button>
    <button (click)="onLogout()" title="sign out">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18">
          logout
        </mat-icon>
      </div>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="true">
      <mat-nav-list>
        <ng-container *ngFor="let nav of fillerNav; let i=index">
          <div *ngIf="checkRole(nav.role,nav.department)" class="block p-4" style="max-width: 17rem;">
            <div class="flex justify-start items-center gap-2">
              <img [src]="'./assets/icons/'+nav.icon" alt="" style="width: 25px ; height: 25px;">
              <span class="uppercase font-black">
                {{nav.title}}
              </span>
            </div>
            <a mat-list-item [routerLink]="item.path" *ngFor="let item of nav.items" class="capitalize">
              <div class="flex justify-start items-center gap-1">
                <img [src]="'./assets/icons/'+item.icon" alt="" style="width: 25px ; height: 25px;">

                <span class="capitalize font-medium">
                  {{item.title}}
                </span>
              </div>
            </a>
            <mat-divider class="w-full"></mat-divider>
          </div>
        </ng-container>


      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="p-4">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet *ngIf="!login"></router-outlet>


<ngx-ui-loader></ngx-ui-loader>
